[Desktop Entry]
Name=HyprSettings
Comment=GUI for configuring Hyprland, written in blazingly fast Rust!
Exec=/usr/bin/hyprsettings
Icon=hyprsettingsicon
Type=Application
Terminal=false
Categories=Utility;
